@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    background-repeat: no-repeat;
    height: 97.5vh;
}

.stepSequencer{
    background: rgb(68, 134, 136);
    width: 350px;
    
}

.mainController{
    background: #5128b0;
    display: flex;
}

.mainController i{
    color: #fff;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: .3s;
}

.stepContainer{
    padding: 10px;
}

.bpm input{
    margin: 20px;
    border: none;
    outline: none;
    width: 60px;
    text-align: center;
}

.bpm span{
    color: #fff;
    font-weight: bold;
}

.stepLine{
    margin-top: 10px;
    display: flex;
}

.light{
    width: 10px;
    height: 10px;
    background: greenyellow;
    border-radius: 100px;
    border: 1px solid #000;
    position: relative;
    top: 7.5px;
    box-shadow: 0px 0px 10px 0px greenyellow;
    cursor: pointer;
}

.volKnob{
    width: 10px;
    height: 10px;
    background: rgb(51, 50, 50);
    position: relative;
    top: 8px;
    right: -10px;
    border-radius: 100px;
    border: 1px solid #000;
    cursor: pointer;

}

.panKnob{
    width: 10px;
    height: 10px;
    background: rgb(51, 50, 50);
    position: relative;
    top: 8px;
    right: -15px;
    border-radius: 100px;
    border: 1px solid #000;
    cursor: pointer;
}

.stepSound{
    color: #fff;
    background: rgb(51, 50, 50);
    padding: 10px;
    width: 40px;
    position: relative;
    right: -25px;
    text-align: center;
    bottom: 5px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.stepSquare{
    width: 8px;
    border-radius: 5px;
    height: 40px;
    background: rgb(51, 50, 50);
    position: relative;
    right: -35px;
    top: -4px;
}

.patSquare{
    border: 1px solid #000;
    position: relative;
    right: -45px;
    top: -4px;
    width: 10px;
    background: grey;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.patActive{
    background: rgb(0, 87, 128);
}

.keyCommand{
    margin-left: 10px;
    background: rgb(107, 100, 105);
    text-align: center;
    width: 50px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* @media only screen and (max-width: 600px){
    .stepSequencer{
        transform: scale(80%) rotateZ(90deg)
        translate(25%, 100%);
    }
} */